Repository Netcracker/KubeMarine, pull requests merged in 2023-09, with the labels that each got.

#503 [CPDEV-91812] Upgrade to 1.28.0 procedure fails - KeyError: 'feature-gates'
  kubemarine/admission.py
  kubemarine/procedures/upgrade.py
Labels: bug, improvement

#494 [CPDEV-87623] Unify enrichment, installation and upgrade of sandbox_image for public and private environments
  documentation/Kubecheck.md
  documentation/Maintenance.md
  kubemarine/core/defaults.py
  kubemarine/core/errors.py
  kubemarine/core/utils.py
  kubemarine/cri/__init__.py
  kubemarine/cri/containerd.py
  kubemarine/kubernetes/__init__.py
  kubemarine/packages.py
  kubemarine/patches/__init__.py
  kubemarine/patches/p1_managed_sandbox_image.py
  kubemarine/plugins/__init__.py
  kubemarine/procedures/check_paas.py
  kubemarine/procedures/migrate_cri.py
  kubemarine/procedures/migrate_kubemarine.py
  kubemarine/procedures/upgrade.py
  kubemarine/resources/configurations/defaults.yaml
  kubemarine/resources/schemas/upgrade.json
  test/unit/core/test_registry.py
  test/unit/test_upgrade.py
Labels: bug, documentation, feature

#502 Update Troubleshooting.md
  documentation/Troubleshooting.md
Labels: documentation

#504 Need at least small example usage of "config" parameter.
  documentation/Installation.md
Labels: documentation

#506 [CPDEV-90331] Workaround malformed output of apparmor_status --json
  kubemarine/apparmor.py
Labels: bug

#509 [CPDEV-92985] - minha proxy protocol issue
  ci/default_cluster.yaml
  ci/extended_cluster.yaml
  documentation/Installation.md
  documentation/Troubleshooting.md
  kubemarine/haproxy.py
  kubemarine/jinja.py
  kubemarine/patches/__init__.py
  kubemarine/patches/p1_override_target_ports.py
  kubemarine/plugins/nginx_ingress.py
  kubemarine/procedures/add_node.py
  kubemarine/procedures/remove_node.py
  kubemarine/resources/configurations/defaults.yaml
  kubemarine/resources/schemas/definitions/services/loadbalancer.json
  kubemarine/templates/haproxy.cfg.j2
  test/unit/plugins/test_nginx_ingress.py
  test/unit/test_inventory.py
Labels: feature
