Repository Netcracker/KubeMarine, pull requests merged in 2023-06, with the labels that each got.

#454 MANOPD-88483 Environment variables support in kubemarine cluster configuration
  documentation/Installation.md
  kubemarine/core/cluster.py
  kubemarine/core/defaults.py
  kubemarine/core/errors.py
  kubemarine/core/executor.py
  kubemarine/core/group.py
  kubemarine/core/log.py
  kubemarine/core/os.py
  kubemarine/core/utils.py
  kubemarine/jinja.py
  kubemarine/kubernetes/__init__.py
  kubemarine/kubernetes_accounts.py
  kubemarine/plugins/__init__.py
  kubemarine/procedures/backup.py
  kubemarine/resources/configurations/globals.yaml
  kubemarine/testsuite.py
  test/unit/core/test_cluster.py
  test/unit/core/test_env.py
  test/unit/core/test_executor.py
  test/unit/core/test_group.py
  test/unit/plugins/test_template.py
  test/unit/test_audit.py
  test/unit/test_demo.py
  test/unit/test_k8s_cert.py
  test/unit/test_keepalived.py
Labels: documentation, feature

#445 [MANOPD-82304] IN update for CoreDNS rewrite plugin
  documentation/Installation.md
  kubemarine/resources/configurations/defaults.yaml
Labels: documentation

#443 [PSUPCLPL-12540] Ability to specify arguments for ingress-nginx-controller in cluster.yaml
  documentation/Installation.md
  documentation/Troubleshooting.md
  kubemarine/plugins/nginx_ingress.py
  kubemarine/resources/schemas/definitions/plugins/nginx-ingress-controller.json
Labels: documentation, improvement

#460 [PSUPCLPL-12873] Support Kubernetes 1.23.1
  kubemarine/resources/configurations/compatibility/internal/kubernetes_images.yaml
  kubemarine/resources/configurations/compatibility/internal/packages.yaml
  kubemarine/resources/configurations/compatibility/internal/plugins.yaml
  kubemarine/resources/configurations/compatibility/internal/thirdparties.yaml
  kubemarine/resources/configurations/compatibility/kubernetes_versions.yaml
  scripts/ci/build_binary.py
Labels: bug

#457 Edit helm command to install chart in apply_helm function
  kubemarine/plugins/__init__.py
Labels: bug

#423 [MANOPD-87510] Ingress-nginx-controller installation error (IPv6)
  kubemarine/plugins/nginx_ingress.py
  test/unit/plugins/test_nginx_ingress.py
Labels: bug

#458 [MANOPD-85857] Fix chattr error.
  kubemarine/procedures/restore.py
Labels: bug

#459 [MANOPD-88926] DNS_names_can_not_be_resolved-Update Installation.md
  documentation/Installation.md
Labels: documentation

#461 [PSUPCLPL-12750] Doc update on ipv6 network scopes
  documentation/Maintenance.md
  documentation/Troubleshooting.md
Labels: documentation
