Repository Netcracker/KubeMarine, pull requests merged in 2024-02, with the labels that each got.

#594 [PSUPCLPL-14594] Update IN with warnings about etc_hosts
  documentation/Installation.md
Labels: documentation

#593 Remove temporary workaround in thirdparties sync tool
  scripts/thirdparties/src/software/plugins.py
Labels: bug

#596 Maintenance mode support details
  documentation/Installation.md
  documentation/LoadBalancing.md
Labels: documentation

#587 [PSUPCLPL-14328] Add new topics about VRRP, GARP and IPIP
  documentation/Installation.md
  documentation/Troubleshooting.md
Labels: documentation

#568 [CPDEV-95906] IPIP Encapsulation check
  Dockerfile
  documentation/Installation.md
  documentation/Kubecheck.md
  kubemarine/procedures/check_iaas.py
  kubemarine/resources/scripts/source/ipip_check/go.mod
  kubemarine/resources/scripts/source/ipip_check/go.sum
  kubemarine/resources/scripts/source/ipip_check/ipip_check.go
  scripts/ci/build_binary.py
Labels: documentation, improvement

#602 Disable package automatic discovery of setuptools
  pyproject.toml
Labels: bug

#604 Mark kubemarine package to support type checking
  kubemarine/py.typed
Labels: improvement

#600 Fix logging for python >= 3.11
  kubemarine/core/log.py
Labels: bug

#606 [CPDEV-98316]_Doc_need_to_update_table for_1.28.6_version_in_github
  documentation/Installation.md
Labels: documentation

#581 [CPDEV-96115]-Enabling_strong_crypto_support_by_default
  kubemarine/patches/__init__.py
  kubemarine/patches/strong_ciphers_patch.py
  kubemarine/resources/configurations/defaults.yaml
Labels: improvement
